[submodule "jpo-conflictvisualizer/jpo-conflictmonitor"]
	path = jpo-conflictvisualizer/jpo-conflictmonitor
	url = https://github.com/usdot-jpo-ode/jpo-conflictmonitor.git
[submodule "gui/src/models/java/jpo-conflictmonitor"]
	path = gui/src/models/java/jpo-conflictmonitor
	url = https://github.com/usdot-jpo-ode/jpo-conflictmonitor
