<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.14/leaflet.draw.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.14/leaflet.draw.js"></script>
    <!-- <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script> -->
    <title>Test Message Sender</title>
</head>

<body>
    <div class="container">
        <div id="map">
        </div>
        <div class="side">
            <div class="sideItem">
                <div>
                    <button type="button" onclick="sendBsms();">Send BSMs to Kafka Topic</button>
                </div>
                <div>
                    <button type="buttom" onclick="sendBsmsRealTime();">Send BSMs to Kafka Topic (Real Time)</button>
                </div>
                <div>
                    <button type="button" onclick="downloadBsms();">Download BSMs (line-delimited JSON)</button>
                </div>
                <div>
                    Upload BSMs (line-delimited JSON)
                    <input type="file" accept=".jsonl,.ndjson,.csv,.json" onchange="uploadBsms(this);" />
                </div>
                <div>
                    Upload BSM template
                    <input type="file" id="btnTemplateUpload" accept=".json" onchange="uploadBsmTemplate(this);" />
                </div>
                <div>
                    Upload MAP GeoJSON
                    <input type="file" id="btnMapUpload" accept=".geojson,.json" onchange="uploadMapGeojson(this);" />
                </div>
                <!-- <div>
                    <button type="button" onclick="downloadMapGeojson();">Download MAP GeoJSON</button>
                </div> -->
            </div>
            <div class="sideItem">
                BSM Template
            </div>
            <div class="sideItem jsonDocument" id="bsmTemplate" contenteditable="true" spellcheck="false">

            </div>
        </div>
    </div>
</body>
<script>

    var map = L.map('map').setView([39.5952649, -105.0914122], 19);

    /* Base Maps */
    var osmUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';
    var googUrl = 'https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}';
    var googAttrib = 'Google Maps';

    /* See https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#javascript-inlining */
    var mapboxUrl = '[(${mapboxTileEndpoint})]';
    console.log(mapboxUrl);
    var mapboxAttrib = 'Mapbox';

    var empty = L.tileLayer('', { maxZoom: 22 });
    var osm = L.tileLayer(osmUrl, { maxZoom: 19, attribution: osmAttrib });
    var goog = L.tileLayer(googUrl, { maxZoom: 22, attribution: googAttrib });
    var mapbox = L.tileLayer(mapboxUrl, { maxZoom: 22, attribution: mapboxAttrib });
    const drawnItems = new L.FeatureGroup();

    const bsmList = [];  /* Array of timestamps/ BSM locations */
   

    var layerControl = L.control.layers({
        'No Base Map': empty.addTo(map),
        'Open Street Map': osm.addTo(map),
        'Google Hybrid': goog.addTo(map),
        'Mapbox Satellite Streets': mapbox.addTo(map)
    }, {
        'Draw BSM Layer': drawnItems
    }, {
        positiion: 'topright', collapsed: false
    }).addTo(map);


    /* Shape draw controls */

    map.addLayer(drawnItems);



    var drawControl = new L.Control.Draw({
        position: 'topleft',
        draw: {
            polyline: false,
            polygon: false,
            rectangle: false,
            circle: false,
            marker: false,
            circlemarker: {
                color: '#f00',
                fillOpacity: 0.9,
                stroke: false,
                radius: 5
            }
        },
        edit: {
            featureGroup: drawnItems,
            remove: true
        }
    });
    map.addControl(drawControl);


    map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType,
            layer = e.layer;
        if (type == 'circlemarker') {

            drawnItems.addLayer(layer);
            console.log('Placed point');
            console.log(layer);

            var lon = layer._latlng.lng;
            var lat = layer._latlng.lat;

            /* Save the coordinates with the current timestamp */
            var ts = Date.now();
            var bsm = { timestamp: ts, coords: [lon, lat], heading: 0, speed: 0 };

            /* Tag the layer with the bsm timestamp so we can find it to update or delete */
            layer.bsmTimestamp = ts;

            bsmList.push(bsm);
            console.log(bsmList);

            /* Keep circlemarker button in edit mode
               TODO Figure out some way to do this other than this hack */
            throw 'Throwing exception to keep the circlemarker in edit mode.  Not ideal but it works.'

        } else {
            console.log('layerType ' + type + ' not used');
        }
    });


    map.on('draw:edited', function (e) {
        /* TODO update bsmList */
        console.log(e);

    });

    map.on('draw:deleted', function (e) {
        console.log(e);
        /* Remove all items */
        bsmList.length = 0;
        /* TODO: Don't assume all items were deleted */
    });

    async function getMapGeojson() {
        //const response = await fetch('map_wadsworth_and_coalmine.geojson');
        const response = await fetch('processed_map_v4.json');
        const mapJson = await response.json();
        setMapGeojson(mapJson.mapFeatureCollection);
        setConnectingLanesGeojson(mapJson.connectingLanesFeatureCollection);

    }

    async function getBsmTemplate() {
        const response = await fetch('BSMTemplate.json');
        const text = await response.text();
        setBsmTemplate(text);
    }

    function setBsmTemplate(text) {
        var json = JSON.parse(text);
        document.getElementById("bsmTemplate").innerText = JSON.stringify(json, null, 2);
    }

    let geojsonLayer = undefined;
    let connectingLayer = undefined;

    function setMapGeojson(mapGeojson) {
        console.log("MAP Geojson:");
        console.log(mapGeojson);
        if (geojsonLayer) {
            layerControl.removeOverlay(geojsonLayer);
        }
        geojsonLayer = L.geoJSON(mapGeojson, {
            style: {
                color: '#f0f',
                width: '1px',
                opacity: 1
            }
        }).addTo(map);
        layerControl.addOverlay(geojsonLayer, 'MAP Geojson');
    }

    function setConnectingLanesGeojson(connectingGeojson) {
        if (connectingLayer) {
            layerControl.removeOverlay(connectingLayer);
        }
        connectingLayer = L.geoJSON(connectingGeojson, {
            style: {
                color: '#0f0',
                width: '1px',
                opacity: 1
            }
        }).addTo(map);
        layerControl.addOverlay(connectingLayer, "Connections");
    }


    getMapGeojson();
    getBsmTemplate();

    function sendBsms() {
        var result = sendBsmsAsync().then(successCallback, failureCallback);
        console.log("Sent BSMs with response");
        console.log(result);
    }

    function sendBsmsRealTime() {
        if (bsmList.length < 1) return;
        console.log("sendBsmsRealTime");
        sendBsmListRealTime(bsmList);
    }

    function sendBsmListRealTime(theBsmList) {

        // Set the timestamps to start 500 ms from now
        const startIn = 500;
        const now = Date.now();
        const firstTimestamp = theBsmList[0].odeReceivedAt;
        let offset = now - firstTimestamp + startIn;
        for (const bsm of theBsmList) {
            bsm.timestamp += offset;
            bsm.odeReceivedAt += offset;
        }

        const bsmTemplate = getCurrentBsmTemplate();

        let idx = 0;

        // Send each with timer
        let nextTime = startIn;
        console.log("Sending BSM in " + nextTime + " ms");
        setTimeout(function sendBsmTimed() {
            const bsm = theBsmList[idx];
            // bsm.timestamp += offset;
            // bsm.odeReceivedAt += offset;
            // let ts = new Date(bsm.timestamp);
            // let ora = new Date(bsm.odeReceivedAt);
            // console.log(ts);
            // console.log(ora);
            const id = bsm.id;
            const postDataItem = buildBsmFromTemplate(bsm, bsmTemplate);
            sendBsmAsync(postDataItem).then(successCallback, failureCallback);
            if (idx < theBsmList.length - 1) {
                ++idx;
                const nextBsm = theBsmList[idx];
                nextTime = nextBsm.odeReceivedAt - Date.now();
                console.log(nextTime);
                if (nextTime < 0) {
                    nextTime = 0;
                }
                if (nextTime > 5000) {
                    nextTime = 5000;
                    //offset = Date.now() - nextBsm.odeReceivedAt;
                }
                console.log("Sending BSM id = " + id + " in " + nextTime + " ms");
                setTimeout(sendBsmTimed, nextTime);
            } else {
                console.log("Completed Sending BSMs with id = " + id);
            }
        }, nextTime);
    }

    function buildBsmFromTemplate(bsm, bsmTemplate) {
        // Copy via serialization
        const bsmJson = JSON.stringify(bsmTemplate);
        const bsmObj = JSON.parse(bsmJson);
        bsmObj.payload.data.coreData.id = bsm.id;
        bsmObj.payload.data.coreData.msgCnt = bsm.msgCnt;
        bsmObj.payload.data.coreData.speed = bsm.speed;
        bsmObj.payload.data.coreData.heading = bsm.heading;
        bsmObj.payload.data.coreData.position.longitude = bsm.coords[0];
        bsmObj.payload.data.coreData.position.latitude = bsm.coords[1];
        const dt = new Date(bsm.timestamp);
        const dtMillis = dt.getTime();
        const dtMinute = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), dt.getHours(), dt.getMinutes(), 0, 0);
        const minuteMillis = dtMinute.getTime();
        const millis = dtMillis - minuteMillis;
        bsmObj.payload.data.coreData.secMark = millis;
        bsmObj.metadata.originIp = bsm.originIp;

        
        bsmObj.metadata.odeReceivedAt = new Date(bsm.odeReceivedAt).toISOString();
        return bsmObj;
    }

    async function sendBsmAsync(postDataItem) {
        const response = await fetch('/kafka/topic.OdeBsmJson', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postDataItem)
        });
        return response;
    }

    async function sendBsmsAsync() {
        let postData = prepareBsmPostData();
        const response = await fetch('/createBsmMessages', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postData)
        });
        return response;
    }





    function prepareBsmPostData() {
        console.log(bsmList);
        // Calculate bearing and speed
        //addHeading(bsmList);
        console.log(bsmList);
        // If there is a BSM template, attach it
        const bsmTemplateObj = getCurrentBsmTemplate();
        const postData = { bsmList: bsmList, bsmTemplate: bsmTemplateObj };
        return postData;
    }

    function getCurrentBsmTemplate() {
        let bsmTemplateObj = null;
        try {
            let bsmText = document.getElementById("bsmTemplate").innerText;
            bsmTemplateObj = JSON.parse(bsmText);
        } catch {
            /* Ignore exception if there is no bsm template */
        }
        return bsmTemplateObj;
    }

    function successCallback(e) {
        //console.log("success");
        //console.log(e);
    }

    function failureCallback(e) {
        console.log("failure");
        console.log(e);
    }

    function uploadBsms(e) {
        console.log("uploadBsms");


        if (e?.files.length > 0) {
            let file = e.files[0];

            file.text().then(text => {
                // Clear exising bsms
                bsmList.length = 0;
                const lines = text.split(/\r?\n/);
                for (const line of lines) {
                    if (line) {
                        const json = JSON.parse(line);
                        //console.log(json);
                        var bsm = extractBsmData(json);
                        bsmList.push(bsm);
                        addCircleMarker(bsm);
                    }
                }

                console.log("Uploaded " + bsmList.length + " BSMs");

                // Find distinct BSM IDs
                const idList = bsmList.map((value, idx, arr) => value.id + '');
                const idSet = new Set();
                for (const id of idList) {
                    idSet.add(id);
                }
                console.log("idSet");
                console.log(idSet);

                // Sort by ode ingest time
                bsmList.sort((a, b) => a.odeReceivedAt - b.odeReceivedAt);
            });
        }
    }

    function extractBsmData(json) {
        const dtReceivedAtMillis = Date.parse(json.metadata.odeReceivedAt);
        const dt = new Date(dtReceivedAtMillis);
        //console.log(dt);
        const minuteMillis = Date.UTC(dt.getUTCFullYear(), dt.getUTCMonth(), dt.getUTCDate(), dt.getUTCHours(), dt.getUTCMinutes(), 0, 0);
        const coreData = json.payload.data.coreData;
        const secMark = coreData.secMark;
        const millis = minuteMillis + secMark;

        const position = coreData.position;
        const lon = position.longitude;
        const lat = position.latitude;

        const heading = coreData.heading;
        const speed = coreData.speed;
        const id = coreData.id + ''; // Cast to string
        const msgCnt = coreData.msgCnt;

        const originIp = json.metadata.originIp;


        const bsm = { odeReceivedAt: dtReceivedAtMillis, timestamp: millis, coords: [lon, lat], heading: heading, speed: speed, id: id, msgCnt: msgCnt, originIp: originIp };
        //console.log(bsm);
        return bsm;
    }

    function addCircleMarker(bsm) {
        const latlng = L.latLng(bsm.coords[1], bsm.coords[0]);
        const options = {
            color: '#f00',
            fillOpacity: 0.9,
            stroke: false,
            radius: 5
        };
        const circlemarker = L.circleMarker(latlng, options);
        drawnItems.addLayer(circlemarker);
    }



    function uploadBsmTemplate(e) {
        console.log("uploadBsmTemplate")
        if (e?.files.length > 0) {
            let file = e.files[0];
            // console.log(file);
            // let objUrl = window.URL.createObjectURL(file);
            // console.log(objUrl);
            file.text().then(text => {
                setBsmTemplate(text);
            });
        }
    }

    function uploadMapGeojson(e) {
        console.log("uploadMapGeojson");
        if (e?.files.length > 0) {
            let file = e.files[0];
            // let objUrl = window.URL.createObjectURL(file);
            file.text().then(text => {
                var json = JSON.parse(text);
                console.log(json);
                setMapGeojson(json.mapFeatureCollection);
                setConnectingLanesGeojson(json.connectingLanesFeatureCollection);
            });
        }
    }

    // function addHeading(bsmArr) {
    //     if (bsmArr.length <= 1) {
    //         return;
    //     }

    //     for (var i = 1; i < bsmArr.length; i++) {
    //         // Bearing and speed based on the previous point
    //         var point1 = turf.point(bsmArr[i - 1].coords);
    //         var point2 = turf.point(bsmArr[i].coords);
    //         var heading = turf.bearingToAzimuth(turf.bearing(point1, point2));

    //         var distanceMeters = turf.distance(point1, point2, { units: 'kilometers' }) * 1000;

    //         var t1 = bsmArr[i - 1].timestamp;
    //         var t2 = bsmArr[i].timestamp;
    //         var tSeconds = (t2 - t1) / 1000;
    //         var speed = distanceMeters / tSeconds;

    //         bsmArr[i].heading = heading;
    //         bsmArr[i].speed = speed;
    //         if (i == 1) {
    //             // First point same as second
    //             bsmArr[0].heading = heading;
    //             bsmArr[0].speed = speed;
    //         }
    //     }


    // }




</script>

</html>